.dogpic {
    width: 30%;
    height: 30%;
    position: relative;
    animation-name: left-to-right;
    animation-duration: 5s;
    animation-delay: 1s;


}

@keyframes left-to-right {
    from {
        left: 0%;
    }

    to {
        left: 70%;
    }
}

@keyframes right-to-left {
    from {
        left: 70%

    }
    to {
        left: 0%
    }
}