/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media screen and (max-width: 600px) {
    /* For tablets: */

  .section {
    width: 400px;

    }
  }

  @media only screen and (min-width: 768px) {
    /* For desktop: */

    
}


.container-fluid {
    font-family:'Segoe UI', Tahoma, sans-serif; font-size: 90%;
    background-color: #f3f2ef;
}

.section {
    justify-content: right;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    background-color: #ffffff;;
    border: 1px solid #e0dfdc;
    border-radius: 10px;
    min-width:100px;
    padding: 20px;
}

.lighttext  {
    color:#979696;
    font-size:small;
    
}

.showall {
    justify-content:center;
    
}